# The number of milliseconds of each tick
tickTime=2000

# The number of ticks that the initial
# synchronization phase can take
initLimit=10

# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5

# Directory where the snapshot is stored.
dataDir=/data/zk

# Transaction log location.
# Ideally, this should a separate, low-latency device.
dataLogDir=/var/lib/zookeeper

# the port at which the clients will connect
clientPort=2181
maxClientCnxns=60

# Throttle clients if more than specified requests. Default is 1000
# Helps control memory consumption from queued requests.
globalOutstandingLimit=500

# Transaction log blocks of preAllocSize Kilobytes
preAllocSize=64M

# After `snapCount` transactions are written, a snapshot and new log is started
snapCount=10000

# switch to no for higher update throughput
leaderServes=no

skipACL=no

# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1

server.1=tdh-m01:2888:3888
server.2=tdh-m02:2888:3888
server.3=tdh-m03:2888:3888
