#
# The MySQL database server configuration file.
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
#

[mysqld]
key_buffer_size         = 32M
max_allowed_packet      = 32M
thread_stack            = 256K
thread_cache_size       = 64
query_cache_limit       = 8M
query_cache_size        = 64M
query_cache_type        = 1
max_connections         = 550
read_buffer_size        = 2M
read_rnd_buffer_size    = 16M
sort_buffer_size        = 8M
join_buffer_size        = 8M

transaction-isolation=READ-COMMITTED

bind-address=0.0.0.0
basedir=/usr
tmpdir=/tmp
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
user=mysql

# INNODB settings
innodb_file_per_table           = 1
innodb_file_format              = Barracuda
innodb_file_per_table           = 1
innodb_flush_log_at_trx_commit  = 1
innodb_log_buffer_size          = 64M
innodb_buffer_pool_size         = 2G
innodb_thread_concurrency       = 8
innodb_flush_method             = O_DIRECT
innodb_log_file_size            = 512M
innodb_large_prefix

#symbolic-links=0

binlog-format=mixed
log-bin=mysql-bin
max_binlog_size=300M
log_bin_trust_function_creators = 1
expire_logs_days=7
server-id=1

#binlog_do_db		= include_database_name
#binlog_ignore_db	= include_database_name

# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
